* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
<<<<<<< HEAD
  font-size: 14px; }
=======
}
>>>>>>> master

html,
body,
.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
<<<<<<< HEAD
  height: 250px; }
  header p {
    width: 100%;
    height: 150px; }
    header p img {
      width: 100%;
      height: 100%; }
  header div {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around; }
    header div dl {
      width: 100%;
      height: 100%; }
      header div dl dt {
        width: 100%;
        height: 70px;
        padding: 10px 10px;
        text-align: center; }
        header div dl dt img {
          width: 50px;
          height: 50px; }
      header div dl dd {
        text-align: center; }
=======
  height: 200px;
}
>>>>>>> master

main {
  flex: 1;
  overflow: auto;
}

footer {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer dl {
  width: 20%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer dl dt {
  width: 20px;
  height: 20px;
}

footer dl dt img {
  width: 100%;
  height: 100%;
}

footer dl dd {
  margin-top: 5px;
  font-size: 14px;
}
